<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.co.millennial.ahooi">

    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3364138612972741~4746456309"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            tools:replace="android:theme"/>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FirstSplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SecondSplashScreen"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.HadiahActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.UpdateActivity"
            android:screenOrientation="portrait" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider392283861541680"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

    </application>

</manifest>